.mainContent {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Button {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.Button:hover {
    background-color: #1d4ed8;
}
