.noteSheet {
    width: calc(100% - 60px);

    height: calc(100vh - 170px);

    min-height: 500px;

    margin: 30px auto;

    position: relative;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}